/memoriease_backend/app/models
/memoriease_backend/elasticsearch-data
/memoriease_backend/app/evaluation_model
/memoriease_backend.env
/memoriease_backend/app/__pycache__/
/memoriease_backend/app/*/__pycache__/
/memoriease_backend/app/*/*/__pycache__/
./.idea
.idea
/memoriease_backend/app/predictions/mysceal_nlp_utils/__pycache__
/memoriease_backend/app/.DS_Store
*.ipynb
*/.ipynb_checkpoints
.ipynb_checkpoints
*.log
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
*/.idea
*/*/.idea