@use 'src/scss/function';
@use 'src/scss/classes';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .input-wrapper {
        + .input-wrapper {
            margin-top: function.spacing(1);
        }
    }

    .submit-btn {
        @include classes.submit-btn();
    }
}

.time-picker-wrapper {
    margin-top: function.spacing(2);
    text-align: center;
}

.title {
    font-weight: 600;
    font-style: italic;
}
