@use 'src/scss/function';
@use 'src/scss/classes';

.wrapper {
    position: fixed;
    width: function.pxToRem(40);
    height: function.pxToRem(40);
    border-radius: 100%;
    background-color: var(--darkbrown);
    box-shadow: 2px 2px 4px var(--box-shadow);
    z-index: 100;
    left: function.spacing(2.5);
    bottom: function.spacing(2.5);
    font-size: function.pxToRem(15);
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: none;
    @include classes.center();
    @include classes.glass-background();

    svg {
        animation: arrowUp 1s linear infinite;
    }
}

@keyframes arrowUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}
